#card-flex-container {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  padding: 0.75rem;
  background-color: #F4F4F4;
  border: 1px solid #BAB8B8;
  border-radius: 8px;
  cursor: pointer;
  max-width: 21.5vw;
}

#card-ticket-data{
  display: flex;
  flex-direction: column;
}

#card-emplyee-picture {
  display: flex;
  margin-left: auto;
}

#card-ticket-id {
  font-size: 13px;
  color: #666363;
}

#card-ticket-description {
  color: #1E1E1E;
}
#card-ticket-opened {
  color: #1E1E1E;
}